.DS_Store
Thumbs.db
*.log

node_modules/
dist/
.env
.vite/

.vscode/
.idea/
*.iml

target/
*.jar
*.war


media-server/

uploads/
cache/
temp/
tmp/

ehthumbs.db
Desktop.ini

movie-user-frontend/dist/
movie-admin-frontend/dist/
