<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orange.moviebackend.mapper.SysBillMapper">

    <resultMap id="BaseBillResultMap" type="com.orange.moviebackend.domain.SysBill">
        <id property="billId" column="bill_id"/>
        <result property="payState" column="pay_state"/>
        <result property="userId" column="user_id"/>
        <result property="sessionId" column="session_id"/>
        <result property="seats" column="seats"/>
        <result property="cancelState" column="cancel_state"/>
        <result property="createTime" column="create_time"/>
        <result property="payTime" column="pay_time"/>
        <result property="deadline" column="deadline"/>
        <result property="cancelTime" column="cancel_time"/>
        <result property="price" column="price"/>
        <association property="sysUser" javaType="com.orange.moviebackend.domain.SysUser">
            <result property="userName" column="user_name"/>
        </association>
        <association property="sysSession" javaType="com.orange.moviebackend.domain.SysSession">
            <result property="sessionDate" column="session_date"/>
            <result property="playTime" column="play_time"/>
            <association property="sysMovie" javaType="com.orange.moviebackend.domain.SysMovie">
                <result property="movieName" column="movie_name"/>
            </association>
            <association property="sysHall" javaType="com.orange.moviebackend.domain.SysHall">
                <result property="hallName" column="hall_name"/>
            </association>
        </association>
    </resultMap>

    <sql id="selectBillVo">
        SELECT
            b.*,
            u.user_name,
            s.session_date, s.play_time,
            m.movie_name,
            h.hall_name
        FROM sys_bill b
                 LEFT JOIN sys_user u ON b.user_id = u.user_id
                 LEFT JOIN sys_session s ON b.session_id = s.session_id
                 LEFT JOIN sys_movie m ON s.movie_id = m.movie_id
                 LEFT JOIN sys_hall h ON s.hall_id = h.hall_id
    </sql>

    <select id="findByVo" parameterType="com.orange.moviebackend.domain.vo.SysBillVo" resultMap="BaseBillResultMap">
        <include refid="selectBillVo"/>
        <where>
            <if test="sysBill != null and sysBill.userId != null and sysBill.userId != 0">
                AND b.user_id = #{sysBill.userId}
            </if>
            <if test="sysBill != null and sysBill.payState != null">
                AND b.pay_state = #{sysBill.payState}
            </if>
            <if test="sysBill != null and sysBill.cancelState != null">
                AND b.cancel_state = #{sysBill.cancelState}
            </if>
            <if test="sysBill != null and sysBill.queryByUserName != null and sysBill.queryByUserName != ''">
                AND u.user_name LIKE CONCAT('%', #{sysBill.queryByUserName}, '%')
            </if>
        </where>
        ORDER BY b.create_time DESC
    </select>

    <select id="findBillById" parameterType="long" resultMap="BaseBillResultMap">
        <include refid="selectBillVo"/>
        WHERE b.bill_id = #{id}
    </select>

    <select id="findBillByIdForUpdate" parameterType="long" resultMap="BaseBillResultMap">
        <include refid="selectBillVo"/>
        WHERE b.bill_id = #{id} FOR UPDATE
    </select>

    <insert id="addBill" parameterType="com.orange.moviebackend.domain.SysBill" useGeneratedKeys="true" keyProperty="billId" keyColumn="bill_id">
        INSERT INTO sys_bill(user_id, session_id, seats, pay_state, cancel_state, create_time, deadline, price)
        VALUES(#{userId}, #{sessionId}, #{seats}, #{payState}, #{cancelState}, NOW(), #{deadline}, #{price})
    </insert>

    <update id="updateBill" parameterType="com.orange.moviebackend.domain.SysBill">
        UPDATE sys_bill
        <set>
            <if test="payState != null">pay_state = #{payState},</if>
            <if test="cancelState != null">cancel_state = #{cancelState},</if>
            <if test="payTime != null">pay_time = #{payTime},</if>
            <if test="cancelTime != null">cancel_time = #{cancelTime},</if>
        </set>
        WHERE bill_id = #{billId}
    </update>

    <delete id="deleteBill" parameterType="long">
        DELETE FROM sys_bill WHERE bill_id = #{id}
    </delete>

    <select id="findTimeoutBill" resultMap="BaseBillResultMap">
        <include refid="selectBillVo"/>
        WHERE b.pay_state = 0 AND b.cancel_state = 0 AND b.deadline &lt; NOW()
    </select>

    <select id="findUnpaidBillsForSeats" resultMap="BaseBillResultMap">
        SELECT * FROM sys_bill
        WHERE
        session_id = #{sessionId}
        AND pay_state = 0
        AND cancel_state = 0
        AND (
        <foreach collection="seats" item="seat" separator=" OR ">
            FIND_IN_SET(#{seat}, seats)
        </foreach>
        )
    </select>

</mapper>